nav {
  color: #fff;
  background-color: #000000bd;
  width: 100%;
  height: 56px;
  line-height: 56px;
}

nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  padding: 0;
}

.fa {
  display: inline-block;
  font: normal normal normal 200px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}