nav {

  color: #fff;
  background-color: #000000bd;
  width: 100%;
  height: 56px;
  line-height: 56px;
}

nav .brand-logo {

  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  padding: 0;
}


/*
header, main, footer {
      padding-left: 300px;
    }

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
*/

.footer{

  background: #000000bd;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: absolute; 
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    overflow:hidden;
  
  /*font-weight: 100;*/ /*coloca a frase em não negrito!*/

  /*position: absolute;
  bottom: -17px;
  width: 100%;
  */
}


.tap-target {

  position: absolute;
  font-size: 1rem;
  border-radius: 50%;
  background-color: #000000bb;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.14), 0 10px 50px 0 rgba(0, 0, 0, 0.12), 0 30px 10px -20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.14), 0 10px 50px 0 rgba(0, 0, 0, 0.12), 0 30px 10px -20px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1), -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  transition: opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1), -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1), opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1), opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1), -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

.btn-floating {
  
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  background-color: #949494;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  vertical-align: middle;
}

